.featuredRestPage {
  @apply px-56 flex flex-col items-center;
  gap: 88px;
}

.featuredTitle h4 {
  @apply text-center font-bold;
  color: #212121;
  font-size: 43px;
}

.feturedRestaurants {
  @apply grid gap-x-4 gap-y-16;
  grid-template-columns: repeat(4, calc(100% / 4 - 16px));
}

.featuredRestaurantCard {
  @apply flex flex-col gap-6;
}

.restCardImage {
  @apply relative;
}

.restCardImage figure img {
  @apply w-full rounded-2xl;
}

.restDiscCook {
  @apply absolute top-6 left-6 flex items-center gap-2;
}

.restCardImage .restCardDiscount {
  @apply flex gap-2.5 text-white font-bold items-center rounded-lg py-2 px-4;

  background: #f17228;
  font-size: 22px;
}
.restCardImage .restCardDiscount img {
  @apply w-5 h-5;
}

.restCookTime {
  @apply flex gap-2.5 text-white font-bold items-center rounded-lg py-2 px-4;

  background: #ffb30e;
  font-size: 22px;
}

.restLogo_Status {
  @apply flex flex-col gap-8;
}

.restLogoRating {
  @apply flex gap-6 items-center;
}

.restaurantInfo {
  @apply flex flex-col gap-1;
}

.restaurantName {
  @apply font-bold;

  color: #424242;
  font-size: 22px;
}

.restaurantRating {
  @apply flex gap-2 font-normal items-center;
  color: #ffb30e;
  font-size: 22px;
}

.restaurantRating img {
  @apply w-6 h-6;
}

.restaurantStatus h6 {
  display: inline;
  border-radius: 16px;
  padding: 8px 16px;

  font-size: 22px;
  font-weight: 700;
}

.viewAllRestaurants {
  @apply flex gap-2.5 py-5 px-12 rounded-2xl text-white font-bold text-lg ;

  background: linear-gradient(98deg, #ffba26 -8.95%, #ff9a0e 109.24%);
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29),
    0px 5px 10px 0px rgba(255, 174, 0, 0.26);
}
