@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

button {
  border: none;
  outline: none;
}

.appPagesContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.slick-prev:before,
.slick-next:before {
  content: ">";
  font-size: 76px !important;
  opacity: 1;
  color: #ffb20e !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  right: -45px !important;
}
.slick-prev {
  left: -95px !important;
}

.slick-cloned {
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
